{% extends 'base.twig' %}

{% block title %}Hello World{% endblock %}

{% block head %}
    {{ parent() }}
    <style type="text/css">
        h1 { color: red; }
	p { color: skyblue; }
    </style>
{% endblock %}
{% block content %}
    <h1>
      {{ 'Hello %neme%!'|trans({'%name%': name}) }} 
    </h1>
    <p>
        Some static text.
    </p>
{% endblock %}
